body {
    background-color: #121212;
}

#playlist {
    color: #BB86FC;
}

#appTitle {
    color: #BB86FC;
}

#lyrics {
    color: #BB86FC;
}

#titleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: 90vh;
    gap: 20px;
}

.albumArt {
    max-width: 250px;
    max-height: 200px;
    margin: 15px
}

#audioPlayer {}

#seekbar {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    /* width: 300px; */
    height: 10px;
    background-color: #ddd;
    cursor: pointer;
}

#seekbarFill {
    height: 100%;
    /* background-color: #4caf50; */
    background-color: #BB86FC;
    width: 0;
}


#volumeSlider {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    /* width: 300px; */
    height: 10px;
    background-color: #ddd;
    cursor: pointer;
}

#volumeSliderFill {
    height: 100%;
    /* background-color: #4caf50; */
    background-color: #BB86FC;
    width: 0;
}


#muteBtn {
    background-color: #03DAC5;
    color: white;
}


.currentSong {
    color: red;
}

.controls {
    width: 45%;
    height: 75%;

    float: left;

    background-color: #0f3834;
    /* box-shadow: 24px, 24px, #061615; */
    border: #03DAC5 solid 3px;
    border-radius: 7px 0px 7px 0px;


}

#playlistFuncs {
    float: right;
    width: 45%;
    height: 75%;
    background-color: #0f3834;
    /* box-shadow: 24px, 24px, #061615; */
    border: #03DAC5 solid 3px;
    border-radius: 7px 0px 7px 0px;
}

#playlistContainer {
    overflow-y: scroll;
    height: 95%;
}

#playlistControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#lrcContainer {
    height: 25px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lrcIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btnGroup {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#albumArtDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.plPlayBtn {
    background-color: #03DAC5;
    color: black;
    border-radius: 2px;
}

.plRemoveBtn {
    background-color: #03DAC5;
    color: black;
    border-radius: 2px;

}


/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

::-webkit-scrollbar {
    width: 6px;
}

/* ::-webkit-scrollbar-track {
    background: #02af9e;
} */

::-webkit-scrollbar-thumb {
    width: 6px;
    background: #02af9e;
}


::-webkit-scrollbar-thumb:hover {
    width: 20px;
    background: #017a6e;
}