* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text-shadow: 0 0 4px #ffffff; */
    color: #BB86FC;

}

::-webkit-scrollbar {
    width: 6px;
}


::-webkit-scrollbar-thumb {
    width: 6px;
    background: #02af9e;
}

/* Had to look this up, the back and forward buttons broke when I added the imgs - this stops them from capturing events */
/* THIS FIXES THE ABOVE ISSUE */
#btnGroup img {
    pointer-events: none;
}

body {
    background-color: rgb(34, 34, 34, 0.65);
    backdrop-filter: blur(10px);
}



#playlist {
    color: #d2acff;

}

.playlistEntry {
    height: 30px;
    display: flex;
    align-items: center;

}

.playlistEntry:hover {
    background-color: #5b3b83;
}

.playlistText {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #d2acff;
}


.controls {
    width: 45%;
    height: 85%;
    float: left;
    /* background-color: #222222; */
    background-color: rgb(34, 34, 34, 0.65);
    /* box-shadow: 24px, 24px, #061615; */
    /* border: #03DAC5 solid 3px; */
    border-radius: 7px 0px 7px 0px;

    /* opacity: 70%; */
}

#appTitle {
    color: #BB86FC;
    /* padding: 10px; */
}

/* #appTitle:hover {
    text-shadow: 0 0 4px#d2acff;
} */

#lyrics {
    color: #BB86FC;
}

#titleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: 90vh;
    gap: 20px;
}

.albumArt {
    /* max-width: 250px;
    max-height: 200px; */
    width: 204px;
    height: 204px;
    margin: 15px;
    border: 2px solid #BB86FC;
    border-radius: 50%;

    object-fit: cover;
}

#seekbar {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    /* width: 300px; */
    height: 10px;
    background-color: #ddd;
    cursor: pointer;
}

#seekbarFill {
    height: 100%;
    /* background-color: #4caf50; */
    background-color: #BB86FC;
    width: 0;
}


#volumeSlider {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    /* width: 300px; */
    height: 10px;
    background-color: #ddd;
    cursor: pointer;
}

#volumeSliderFill {
    height: 100%;
    /* background-color: #4caf50; */
    background-color: #BB86FC;
    width: 0;
}

/* TODO: add current song styling for playlist */
.currentSong {
    color: red;
}



#playlistFuncs {
    float: right;
    width: 45%;
    height: 85%;
    background-color: rgb(34, 34, 34, 0.65);
    /* box-shadow: 24px, 24px, #061615; */
    /* border: #03DAC5 solid 3px; */
    border-radius: 7px 0px 7px 0px;
}

#playlistContainer {
    overflow-y: scroll;
    height: 90%;
}

#playlistControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#playlistControls button {
    margin-top: 5px;
    margin-right: 5px;
    background-color: #ddd;
    border: none;
}

#playlistControls button:hover {
    background-color: #afafaf;
}

#playlistControls button img {
    width: 30px;
    height: 20px;
}

#lrcContainer {
    height: 25px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lrcIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btnGroup {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#btnGroup button {
    /* background-color: #ffe66b; */
    background-color: #ddd;
    margin-right: 5px;
    border: none;
}

#btnGroup button:hover {
    /* background-color: #888888; */
    background-color: #afafaf;
}

#btnGroup button img {
    width: 30px;
    height: 20px;
}



#albumArtDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.plPlayBtn {
    background-color: #03DAC5;
    color: black;
    border-radius: 2px;
}

.plRemoveBtn {
    margin: 3px;
    /* background-color: #ddd; */
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
    margin-left: auto;
}

.plRemoveBtn:hover {
    background-color: #d2acff;
}

#titleContainer {
    max-height: 35px;
    margin: 2px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: medium;
    align-items: center;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.songAndArtist {
    /* position: relative; */
    width: 95%;
    text-shadow: 0 0 4px #d2acff;
    text-align: center;

}

.songAndArtistBig {
    /* position: relative; */
    width: 95%;
    text-shadow: 0 0 4px #d2acff;
    animation: moveLeft 7s linear infinite;

}

/* https://medium.com/@attarfarnoosh/an-animated-moving-text-effect-with-toy-story-characters-a8692e887042 */
@keyframes moveLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* ! Leaving this here for future use maybe? It was buggy */
/* .songAndArtistBig:hover {
    animation: moveLeft 7s linear infinite;
    text-shadow: 0 0 4px #d2acff;
    text-shadow: 0 0 6px black;

} */





/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

::-webkit-scrollbar {
    width: 6px;
}

/* ::-webkit-scrollbar-track {
    background: #02af9e;
} */

::-webkit-scrollbar-thumb {
    width: 6px;
    background: #ddd;
}


::-webkit-scrollbar-thumb:hover {
    width: 20px;
    background: #afafaf;
}