/notes.txt
/Frontend/test.js
/Frontend/test2.js
/Frontend/song.mp3
/Frontend/node_modules
/Frontend/exampleMusic/
/TestApps/
/Frontend/tempFiles/

/Frontend/.env
/Frontend/util/


/Frontend/tempFiles/tempImage.jpg

Frontend/testDatabase.json
/Frontend/userFiles/testDatabase.json
/Frontend/userFiles/songObjects.json
/Frontend/TESTPLAYLIST.json


/.vscode

/Frontend/testICON.png
/Frontend/testICON2.png
/Frontend/testICON3.png

/Frontend/out

userFiles/songObjects.json