/notes.txt
/Frontend/test.js
/Frontend/test2.js
/Frontend/song.mp3
/Frontend/node_modules
/Frontend/exampleMusic/
/TestApps/
/Frontend/tempFiles/

/Frontend/.env
/Frontend/util/


/Frontend/tempFiles/tempImage.jpg

Frontend/testDatabase.json
/Frontend/userFiles/testDatabase.json
/Frontend/userFiles/songObjects.json


/.vscode